.nav__brand{
    /* padding: 30px;
    margin: 50px; */
}

.nav__brandImg{
    padding-left: 2vw;

}

.nav{

}
.nav__items{
   color: red !important;
   margin-right: 5vw;
}

.navbar-custom{
    background-color: rgba(255, 255, 255, 0) !important;
    position: absolute;
    width: 100%;
}